//
   Created by tfeue on 5/16/2017.

html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        script(src="https://code.jquery.com/jquery-3.2.1.js", integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=", crossorigin="anonymous")
        //script(src="http://cdn.peerjs.com/0.3/peer.min.js")
        script(src='/scripts/peer.min.js')
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
        link(type='text/css', rel='stylesheet', href='/stylesheets/classes.css')
        link(type='text/css', rel='stylesheet', href='/stylesheets/chat.css')
    body
        input#user-id.hidden(value=user_id)
        input#username.hidden(value=username)
        input#room-id.hidden(value=room_id)
        #loading
            h1 Loading Chat Room...
            h3 <Please wait>
        #container
            h1#room-name #{room_id}
            #content
                #voice
                    #info
                        #current-users
                            h3 Current Users:
                            ul#users
                #chatbox
                    ul#messages
                    form#message-box
                        input#user-input(type='text', required='', autocomplete="off", placeholder='Enter Message here, or /w <NAME> to whisper someone')
                        input#file-upload.hidden(type='file' accept='image/*|audio/*|video/*')
                        button#uploadBtn
                            i.fa.fa-cloud-upload
                        //button#send-message(type='submit', value='Send') Send
        script(src='/scripts/chattest.js')